<div class="container">
  <div class="row">
    <div class="col-8">
      <article class="boxed push-down-45 post-2321 post type-post status-publish format-standard has-post-thumbnail hentry category-paid-marketing">
        <div class="meta">
          <img width="600" height="315" src="{{ object.Header_pic.url }}" class="img-responsive" alt=""/>
          <span class="author  meta__author">
            <span class="vcard author"><span class="fn">{{ object.writer }}</span></span>
          </span>
          <time  class="meta__date  updated"><span class="glyphicon  glyphicon-calendar">{{object.pub_date_pretty}}</span>
          </time>
          <div class="post-content  post-content--narrow">
            <h1 class="entry-title  post-content__title  h1">{{ object.Title }}</h1>
            <div class="entry-content  post-content__text">
              <p style="text-align: justify;"><span style="font-weight: 400;">{{ object.first_para }}</span></p>
              <p style="text-align: justify;"><span style="font-weight: 400;">{{ object.first_para }}</span></p>
              <p style="text-align: justify;"><img class="alignnone wp-image-2322 size-full" src="{{object.Image_1.url}}" alt="" width="1000" height="947"  sizes="(max-width: 1000px) 100vw, 1000px"></p>
              <p style="text-align: justify;"><span style="font-weight: 400;">{{ object.first_para }}</span></p>
              <p style="text-align: justify;"><img class="alignnone wp-image-2322 size-full" src="{{object.Image_1.url}}" alt="" width="1000" height="947"  sizes="(max-width: 1000px) 100vw, 1000px"></p>
              <p style="text-align: justify;"><span style="font-weight: 400;">{{ object.first_para }}</span></p>
              <p style="text-align: justify;"><span style="font-weight: 400;">{{ object.first_para }}</span></p>
              <p style="text-align: justify;"><img class="alignnone wp-image-2322 size-full" src="{{object.Image_1.url}}" alt="" width="1000" height="947"  sizes="(max-width: 1000px) 100vw, 1000px"></p>
              <p style="text-align: justify;"><span style="font-weight: 400;">{{ object.first_para }}</span></p>
          </div>
        </div>
        <div class="post-author">
          <h6>Written By</h6>
          <hr>
          <span class="fn">Aishwarya Pradhan</span>
      </article>
    </div>
    <div class="col-4">
      <div class="widget_recent_entries  push-down-30">
        <h6>Recent Posts</h6>
        <hr>
        <ul>
          <li>
            <a href="#">Digital Marketing Quiz By Zain Siddiqui</a>
          </li>
        </ul>
      </div>
      <div class="widget_text  push-down-30">
        <h6>Facebook</h6><hr>
        <div class="textwidget">
          <div id="likebox-wrapper">
            <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fuppskill&amp;width&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=false&amp;appId=685180284845706">
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
