{% extends 'base.html' %}


{% block content %}
{% load static %}
<!-- Start Header-->
<header class="header demo-1" data-scroll-index='0'>
      <!-- particles -->
      
      <div id="particles-js"></div>

      <div class="caption text-center v-middle">
        <h2>Intrepid Geeks</h2>
        <h4>WE ARE<span></span></h4>
      </div>
      <div class="button-scroll" data-scroll-nav="1"><span></span></div>
    </header>
    <!-- ./  Header-->

    <!-- Start About -->
    <section class="about section-padding" data-scroll-index='1'>
      <div class="container">
        <div class="row justify-content-between">
          <!-- Photo-->
          <div class="col-lg-4">
        
  <!-- Full-width images with number and caption text -->
  <div class="mySlides">
    <div class="numbertext"></div>
    <img src="{% static 'images/Untitled.png' %}" style="width:100%">
  </div>
            <div class="mask"></div>
          </div>
          <!-- info -->
          <div class="col-lg-7">
            <div class="info mt-30 mb-30">
              <h4 class="mb-20 h2">Are you an Intrepid Geek?</h4>
              <p class="mb-30">To introduce in-depth understanding of practical and technical skills among students and to provide sufficient knowledge across different domains at school and college level. Intrepid geeks is the platform to seek quality education and knowledge not only at academic level but also at professional level too.</p>
        <p class="mb-30">You can get lectures for Engineering (JEE MAIN,JEE ADVANCE),medical (NEET AIIMS) ,government services(SSC-Cgl, UPSC), Class X,CLASS XI and XII (science stream).Apart from that you will get career guidance,counselling,Engineering course study and Aptitude preparation for IT companies </p>
                </div>
            </div>
          </div>
        </div>
    </section>
    <!-- ./ About -->

    <!-- Start Skills -->
    <section class="skills section-padding" data-scroll-index='0'>
      <div class="container">
        <div class="row">
          <!-- Title -->
          <div class="title">
            <h3>Intrepid Geeks Target</h3>
          </div>

          <div class="skills-prog">
            <!-- Item Skills -->
            <h6>CBSE/ICSE</h6>
            <div id="bar2" class="barfiller">
              <div class="tipWrap">
                <span class="tip"></span>
              </div>
              <span class="fill" data-percentage="85"></span>
            </div>

            <!-- Item Skills -->
            <h6>HIGHER STUDIES</h6>
            <div id="bar3" class="barfiller">
              <div class="tipWrap">
                <span class="tip"></span>
              </div>
              <span class="fill" data-percentage="80"></span>
            </div>

            <!-- Item Skills -->
            <h6>ALL ROUND DEVELOPMENT</h6>
            <div id="bar4" class="barfiller">
              <div class="tipWrap">
                <span class="tip"></span>
              </div>
              <span class="fill" data-percentage="70"></span>
            </div>

            <!-- Item Skills -->
            <h6>IG TALKS</h6>
            <div id="bar5" class="barfiller">
              <div class="tipWrap">
                <span class="tip"></span>
              </div>
              <span class="fill" data-percentage="80"></span>
            </div>

          </div>
          </div>
      </div>
    </section>
    <!-- ./ Skills -->

    <!-- Start Services -->
    <section class="services section-padding" data-scroll-index='0'>
      <div class="container">
        <div class="row">
          <!-- Title -->
          <div class="title col-md-12">
            <h3 class="white-text">SERVICES</h3>
          </div>
          <!-- Services Item -->
          <div class="col-md-3">
            <div class="servies-item text-center">
              <i class="icon-tools"></i>
              <h4>MENTORS</h4>
              <p>Mentors to provide classes for better understanding of concepts at school and college level at your place!</p>
              <span class="bb"></span>
            </div>
          </div>

          <!-- Services Item -->
          <div class="col-md-3">
            <div class="servies-item text-center">
              <i class="icon-tools"></i>
              <h4>CAREER GUIDANCE</h4>
              <p>Career guidance and counselling of students for entrance and placements preparations!</p>
              <span class="bb"></span>
            </div>
          </div>

          <!-- Services Item -->
          <div class="col-md-3">
            <div class="servies-item text-center">
              <i class="icon-tools"></i>
              <h4>STUDY MATERIALS</h4>
              <p>Videos,Audio books and PDFs for clearing concepts and better understanding of concepts at school and college level!</p>
              <span class="bb"></span>
            </div>
          </div>
       <div class="col-md-3">
            <div class="servies-item text-center">
              <i class="icon-tools"></i>
              <h4>IG Talks</h4>
              <p>Life sessions and IG Talks for focused vision and right prespective towards career decisions!</p>
              <span class="bb"></span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ./ Services -->
 <section data-scroll-index="0" class="portfolio section-padding">
      <div class="container">
        </div>
        </section>

    <!-- ====== Start Client ======  -->
    <section class="client section-padding">
      <div class="container">
        <div class="row justify-content-md-center">

          <!-- Title -->
          <div class="title">
            <h3>TESTIMONIALS</h3>
          </div>


          <!-- client carousel -->
          <div class="col col-lg-12">
            <div class="client-say text-center">

              <span class="icon-quote"></span>


              <div class="owl-carousel owl-theme">

                <!-- client item -->
                <div class="client-item text-center">

                  <p>Intrepid Geeks, a great learning platform for all the students and professionals for easy reach out to Mentors, Study Materials, Professional talks etc.</p>

                  <h6>Mukesh Sahu</h6>
                  <h5>Head of Dept. (Electronics) - Guru Tegh Bahadur Institute of Technology</h5>
                </div>

                <!-- client item -->
                <div class="client-item text-center">

                  <p>Great team work, majorly focused on overall development of the student at academic as well as professional level.</p>

                  <h6>Agam Singh</h6>
                  <h5>Assistant Manager - Vistara</h5>
                </div>

                <!-- client item -->
                <div class="client-item text-center">

                  <p>New and innovative approach in teaching and learning techniques with Intrepid Geeks support and guidance and great efforts in providing career guidance to professionals</p>

                  <h6>Amandeep Singh Parmar</h6>
                  <h5>Product Developer - DXC Technology</h5>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- ======./ Client ======  -->
    

    
    
    
    <!-- Start Blog -->
    <section class="blog section-padding" data-scroll-index='0'>
      <div class="container">
        <div class="row">
          <!-- Title -->
          <div class="title col-md-12">
            <h3>Student Reviews</h3>
          </div>
<div class="card-deck">
  <div class="card">
       <div class="view overlay hm-white-slight">
    <img class="card-img-top" src="{% static 'images/studentOne.jpg' %}" alt="Card image cap">
    </div>
    <div class="card-body">
      <h4 class="card-title">KARTIKYE</h4>
      <p class="card-text">Great learning experience with the team of intrepid geeks. The avaiablitiy of mentors for every doubts and concepts clearification is remarkable and the way of teaching is new and innovative.</p>
    </div>
  </div>
  <div class="card">
       <div class="view overlay hm-white-slight">
    <img class="card-img-top" src='{% static "images/studentTwo.jpg" %}' alt="Card image cap">
    </div>
    <div class="card-body">
      <h4 class="card-title">KAREENA</h4>
      <p class="card-text">Content for the concepts and special attention towards each and every student make intrepid geeks different from other learning or education platforms.</p>
    </div>
  </div>
  <div class="card">
       <div class="view overlay hm-white-slight">
    <img class="card-img-top" src="{% static 'images/studentThree.jpg' %}" alt="Card image cap">
    </div>
    <div class="card-body">
      <h4 class="card-title">RUPANSH</h4>
      <p class="card-text">From youtube tutorials to the sessions with the mentors is very unique and updated. I learnt a lot and get a better clarification of concepts with their content and guidance.</p>
    </div>
  </div>
  
  <div class="card">
       <div class="view overlay hm-white-slight">
    <img class="card-img-top" src="{% static 'images/3.jpg' %}" alt="Card image cap">
    </div>
    <div class="card-body">
      <h4 class="card-title">VAISHALI</h4>
      <p class="card-text">Great learning platform with experienced and trained mentors not only limited to the academic learning but focuses on overall personality development.</p>
    </div>
  </div>
</div>
     
            </div>
      </div>
    </section>
    <!-- ./ Blog -->


{% endblock %}